@import "tailwindcss";

:root {
  --color-grey-0: #ffffff;
  --color-grey-50: #f8f9fa;
  --color-grey-100: #f1f3f5;
  --color-grey-200: #e9ecef;
  --color-grey-300: #dee2e6;
  --color-grey-400: #ced4da;
  --color-grey-500: #adb5bd;
  --color-grey-600: #868e96;
  --color-grey-700: #495057;
  --color-grey-800: #343a40;
  --color-grey-900: #212529;

  /* Rovabox Brand Colors */
  --color-brand-blue: #1A3A7B;
  --color-brand-green: #51bc4a;
  --color-brand-gold: #d3a352;
  --color-brand-dark-blue: #0d1854;
  --color-brand-light-blue: #0794d4;
}

@theme {
  --color-grey-0: "var(--color-grey-0)";
  --color-grey-50: "var(--color-grey-50)";
  --color-grey-100: "var(--color-grey-100)";
  --color-grey-200: "var(--color-grey-200)";
  --color-grey-300: "var(--color-grey-300)";
  --color-grey-400: "var(--color-grey-400)";
  --color-grey-500: "var(--color-grey-500)";
  --color-grey-600: "var(--color-grey-600)";
  --color-grey-700: "var(--color-grey-700)";
  --color-grey-800: "var(--color-grey-800)";
  --color-grey-900: "var(--color-grey-900)";

  --color-brand-blue: "var(--color-brand-blue)";
  --color-brand-green: "var(--color-brand-green)";
  --color-brand-gold: "var(--color-brand-gold)";
  --color-brand-light-blue: "var(--color-brand-light-blue)";
  --color-brand-dark-blue: "var(--color-brand-dark-blue)";

  --font-sans: var(--font-isidoraSans);

  /* --shadow-label: 0 12px 32px rgba(19, 38, 148, 0.08); */
}
